* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heroImages {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.heroImages img {
  width: 150%;
  background-position: right top;
  background-size: cover;
  filter: brightness(50%);
}
.heroText {
  margin: auto;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  /* border: 1px solid white; */
}
.heroText h1 {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 7.2rem;
  color: #fff;
}
.heroText button a {
  text-decoration: none;
}
